::-webkit-input-placeholder {
    color: #009FCC;
    text-align: center;
}

input:focus{outline:none}


.homepage-btn {
    border-width: 3px;
    border-style: outset;
}

.homepage-btn-crew {
    padding-left:300px;
    padding-top:10px;
    padding-bottom:10px;
}

.homepage-title {
    color: #0000AA;
    position: relative;
    padding-left:420px;
    font-size: 50px;
    font-family: cursive;
    text-align: justify;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.homepage-input {
    border-width: 2px;
    border-radius: 10px;
    border-style:;
    font-family: sans-serif;
    font-size: 13px;
    padding: 10px;
    width: 100px;
    height: 8px;
}

.btn-change {
    background-color: #DDDDDD;
}

.input-btn-crew {
    padding-left:395px;
    padding-top: 10px;
}

.input-btn-change {
    padding-top:13px;
}

.submit-btn {
    border-radius: 10px;
    font-family: cursive;
    background-color: white;
    border-style: none;
}

.top-wordlist-trans {
    color: #770077;
    font-size: 15px;
    font-family: Mircosoft JhengHei;
    position: relative;
}


.top-wordlist-english {
    color: #000088;
    font-size: 18px;
    font-family: sans-serif;
    position: relative;
    top:20px;
    right:40px;
}

.Trans-title {
    color: #0000AA;
    position: relative;
    padding-left:385px;
    font-size: 50px;
    font-family: cursive;
    text-align: justify;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.Trans-subtitle {
    font-size: 12px;
    font-family: sans-serif;
    padding-left: 395px;
    padding-bottom: 20px;
}

.question {
    padding-left:448px;
    font-family: sans-serif;
}

.question-warn {
    padding-left:448px;
    font-family: sans-serif;
    color:red;
}

.Trans-blank {
    padding-left:470px;
}

.test-foot {
    padding-left:472px;
}

.Select-title {
    color: #0000AA;
    position: relative;
    padding-left:410px;
    font-size: 50px;
    font-family: cursive;
    text-align: justify;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.Select-subtitle {
    font-size: 12px;
    font-family: sans-serif;
    padding-left: 395px;
    padding-bottom: 20px;
}



.tooltip {
    position: relative;
    display: inline-block;
    opacity: 50;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #0000AA;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
 
    position: relative;
    left:10px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.overview-title {
    padding-left: 450px;
}

.review-title {
    padding-left: 420px;
    color: #0000AA;
    position: relative;
    font-size: 50px;
    font-family: cursive;
    text-align: justify;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.info-title {
    padding-left: 420px;
    color: #0000AA;
    position: relative;
    font-size: 50px;
    font-family: cursive;
    text-align: justify;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.top-ten-title {
    color:red;
    font-size: 25px;
    font-family: cursive;
    padding-top: 10px;
}

.img {
    border-radius: 50px;
}

.img-circle {
    border-radius: 50%;
}

.pic-padd-top-one {
    position:relative;
    top:30px;
}

.pic-padd-top-two {
    position:relative;
    top:230px;
}

.profile-yuan {
    position:relative;
    top:100px;
    right:-70px;
    font-family:Microsoft JhengHei;
    font-size: 30px;
}

.profile-ray {
    position:relative;
    top:-150px;
    font-family: fantasy;
    font-size: 20px;
}

.review-english {

}

.review-chinese {

}
